body{
   background-color:grey;
   color:black;
   font-size:35px;
   font-family:times new roman;
}
#kontener{
     width:1000px;
	 margin:auto;
}
.linki{
    height:200px;
	background-color:grey;
	color:black;
	text-align:center;
}